<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/Css/homepage.css}">
</head>
<div id="logoutconfirm" class="confirm">
    <div class="confirmation">
        <p>Are you sure you want to <b>Log Out</b>?</p>
        <div class="buttons">
            <button id="cancel">Cancel</button>
          <button id="logout">Log Out</button>
        </div>

    </div>

</div>

<body>
<div class="header">
    <nav>
        <ul>
            <li id="dropdown">
                <img src="https://cdn-icons-png.flaticon.com/128/141/141930.png" alt="navigation bar" id="menubar">
            </li>
        </ul>
    </nav>
    <p id="Home"><b>Home</b></p>
</div>

<div>
    <nav id="Inner_Dropdown">
        <ul id="menu_dropdown" style="display:none;">

            <li onclick="window.location.href='/userguide'"> <img src="https://cdn-icons-png.flaticon.com/128/1545/1545757.png" alt="userguid logo">User Guide</li>

            <li> <img src="https://cdn-icons-png.flaticon.com/128/3503/3503786.png" alt="history Logo">History</li>
            <li id="logoutbutton"> <img src="https://cdn-icons-png.flaticon.com/128/18273/18273095.png" alt="Logout_logo">Logout</li>

        </ul>
    </nav>
</div>

<div>
    <p class="bris"><b>
        Barangay Residents Information <br> System
    </b></p>
    <p class="manage_residents">
        Barangay Service and Records
    </p>
</div>

<div id="records">
    <a href="/newresident" class="box">
      
        <div id="icon1">
            <img src="https://cdn-icons-png.flaticon.com/128/10486/10486714.png" alt="add_resident" >
        </div>


        <div id="res1">
            <p style="color:#1F2937;"><b>New Resident</b></p>
            <p style="color:#4B5563;">Register a resident</p>
        </div>
      
 

  </a>

    <a id="currentResidents"
       href="/residentsrecords" class="box">
        <div id="icon2">
            <img src="https://cdn-icons-png.flaticon.com/128/1769/1769041.png" alt="residents_record">
        </div>

            <div  class="currentResidents">
        <img src="https://cdn-icons-png.flaticon.com/128/5441/5441891.png" alt="currentresidents" height="30px" width="30px">
              <p>100</p>
      </div>
      
        <div id="res2">
            <p style="color:#1F2937;"><b>Residents Record</b></p>
            <p style="color:#4B5563;">Residents Information</p>
        </div>
      

    </a>


    <a href="/blotterrecords" class="box">
        <div id="icon3">
            <img src="https://cdn-icons-png.flaticon.com/128/5403/5403820.png" alt="Blotter_Records" >
        </div>

        <div id="res3">
            <p style="color:#1F2937;"><b>Blotter Records</b></p>
            <p style="color:#4B5563;">Records of Cases</p>
        </div>

    </a>

</div>

<div id="records1">


    <a href="/reportcase" class="box">
        <div id="icon4">
            <img src="https://cdn-icons-png.flaticon.com/128/1450/1450932.png" alt="Case report" >
        </div>

        <div id="res4">
            <p style="color:#1F2937;"><b>Report Case</b></p>
            <p style="color:#4B5563;">File a New Report</p>
        </div>
    </a>

    <a href="/certificates" class="box">
        <div id="icon5">
            <img src="https://cdn-icons-png.flaticon.com/128/3135/3135763.png" alt="Certificate" >
        </div>

        <div id="res5">
            <p style="color:#1F2937;"><b>Clearance/Certificate</b></p>
            <p style="color:#4B5563;">Make a Certificate</p>
        </div>
    </a>



</div>

<div id="Footer"></div>

<script th:src="@{Js/homepage.js}"></script>
</body>

</html>
